.input {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.input input {
    width: 200px;
    height: 30px;
}

.result {
    margin-top: 2rem;
    font-size: 1.4rem;
}

